#prosemirror-editor{
    width: 400px;
    height: 500px;
    border: 1px solid black;
    padding: 2px;
}

.ProseMirror{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}